---

---


<div class="break-all">
    <p class="text-violet-400 font-bold text-center text-2xl select-none pt-12">
        Embeds
      </p>
      <p
        class="text-violet-200 font-mono mt-3 font-bold text-center text-xl select-none"
        id="org-repo-name"
      >
      </p>
      <p class="text-green-600 font-mono mt-3 font-bold text-center text-xl select-none">
          <span class="text-slate- font-semibold select-none" x-text="branch"></span>
      </p>
      <hr class="w-24 h-1 mx-auto bg-gray-500 border-0 rounded my-10" />
      <p
        class="text-center font-mono text-2xl text-slate-400 font-bold select-none"
      >
        <span class="text-sm text-slate-500"
          >Press <b class="text-white">CMD + A</b> <br>to select all markdown embeds</span
        >
      </p>
</div>