---

---

<!--Main-->
<div
  class="container pt-24 md:pt-36 mx-auto flex flex-wrap flex-col md:flex-row items-center"
>
  <!--Left Col-->
  <div class="w-full xl:w-3/5 pt-5 overflow-hidden">
    <h1
      class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left"
    >
    One two many perks
      <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
        Charts Widgets
      </span>
    </h1>
    <p
      class="leading-normal text-slate-300 md:text-2xl mb-8 text-center md:text-left"
    >
        <span class="">
            Create your own chart <b>widgets</b>
        </span>
    </p>
    <img loading='eager' alt="chart" class="inline" src="https://coveritup.app/chart?org=kevincobain2000&repo=gobrew&type=coverage&branch=master&theme=dark&output=svg&width=160&height=160&line=fill" />
    <img loading='eager' alt="chart" class="inline" src="https://coveritup.app/chart?org=kevincobain2000&repo=gobrew&type=build-time&branch=master&theme=dark&output=svg&width=160&height=160" />
    <img loading='eager' alt="chart" class="inline" src="https://coveritup.app/chart?org=kevincobain2000&repo=gobrew&type=go-binary-size&branch=master&theme=dark&output=svg&width=160&height=160&line=fill" />
    <img loading='eager' alt="chart" class="inline" src="https://coveritup.app/chart?org=kevincobain2000&repo=gobrew&type=go-mod-dependencies&branch=master&theme=dark&output=svg&width=160&height=160" />
    <img loading='eager' alt="chart" class="inline" src="https://coveritup.app/chart?org=kevincobain2000&repo=gobrew&type=go-sec-issues&branch=master&theme=dark&output=svg&width=160&height=160&line=fill" />
    <img loading='eager' alt="chart" class="inline" src="https://coveritup.app/chart?org=kevincobain2000&repo=gobrew&type=unit-test-run-time&branch=master&theme=dark&output=svg&width=160&height=160" />
  </div>

  <!--Left Col-->
  <div
    class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden"
  >
    <p
      class="leading-normal text-slate-300 md:text-2xl mb-8 text-center md:text-left"
    >
        <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
            Embeddable Widgets for README
        </span>
    </p>

    <div
      class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-6 overflow-auto no-scrollbar"
    >
      <div class="mb-4">
        <label class="block text-blue-300 py-2 font-bold mb-2" for="code">
          <pre
            class="">{`
![badge](https://coveritup.app/chart?org=kevincobain2000
&repo=gobrew
&type=coverage
&branch=master)`}</pre>
        </label>
      </div>
    </div>
  </div>
</div>
<style></style>
