---

---

<!--Main-->
<div
  class="container pt-24 md:pt-36 mx-auto flex flex-wrap flex-col md:flex-row items-center"
>
  <!--Left Col-->
  <div
    class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden"
  >
    <h1
      class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left"
    >
      Compare with
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500"
      >
        other services - free plans
      </span>
    </h1>

    <div
      class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-6 overflow-auto no-scrollbar"
    >
      <div class="mb-4">
        <b>Codecov:</b> Supports only code coverage, not free for private and enterprises.
        <br>
        <br>
        <b class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">CoverItUp:</b> <b class="text-slate-100">Free, fully customizable</b>
      </div>
      <p class="text-white">
        A reliable alternative to Codecov, Coveralls, SonarQube and other services.
      </p>
    </div>
  </div>

  <!--Right Col-->
  <div class="w-full xl:w-3/5 pt-5 overflow-hidden">
    <p class="mx-auto w-full md:w-4/5 mt-5 text-slate-500">
        Coveritup is a free, fully customizable code coverage tool. Self Hosting is simple and easy. It supports all major languages and frameworks.
        <br>
        <br>
        <span class="text-slate-400">
            Code Coverage recording is not the only metric to improve your code quality. Coveritup supports all major metrics like Code Coverage, Code Duplication, Code Complexity, Code Smells, Security Vulnerabilities, and many more.
        </span>
    </p>
  </div>
</div>
<style></style>
