---

---

<!--Main-->
<div
  class="container pt-24 md:pt-36 mx-auto flex flex-wrap flex-col md:flex-row items-center"
>
  <!--Left Col-->
  <div
    class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden"
  >
    <h1
      class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left"
    >
      Compare with
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500"
      >
        other services - free plans
      </span>
    </h1>

    <div
      class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-6 overflow-auto no-scrollbar"
    >
      <div class="mb-4">
        <b>Image-Charts:</b> Quota 60 charts per minute
        <br>
        <b class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">InstaChart:</b> <b class="text-slate-100">Free</b>
        <br><br>
        <b>QuickChart:</b> Rate limits enforced
        <br>
        <b class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">InstaChart:</b> <b class="text-slate-100">Free</b>
      </div>
    </div>
  </div>

  <!--Right Col-->
  <div class="w-full xl:w-3/5 pt-5 overflow-hidden">
    <img
      class="mx-auto w-full md:w-4/5"
      src="https://instachart.coveritup.app/bar?title=Performance+200RPS&style=horizontal&metric=secs%20&theme=dark&subtitle=Response+Time&data={%20%22x%22:%20[%22Total%22,%20%22Fastest%22,%20%22Average%22],%20%22y%22:%20[[3,0.27,0.7]]%20}"
    />
    <p class="mx-auto w-full md:w-4/5 mt-5 text-slate-500">
        Extremely fast on response on 512 MB RAM and Single Core CPU.
        <br>
        Written in Go and fully scalable. <b>Zero</b> overheads.
    </p>
  </div>
</div>
<style></style>
