---

---

<div
  class="container pt-10 md:pt-10 mx-auto flex flex-wrap flex-col md:flex-row items-center"
>
  <div
    class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden"
  >
    <h1
      class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left"
    >
      Cover
      <span
        class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500"
      >
        ItUp
      </span>
      <br />
      <span class="text-2xl">
        All your favourite covers in one place.
      </span>
    </h1>
    <p
      class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left"
    >
      Record what is important for your project.
    </p>

    <div
      class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4"
    >
      <div class="mb-4">
        <label
          class="block text-blue-300 py-2 font-bold mb-2"
          for="emailaddress"
        >
          Ideal for enterprise, and open source teams.
        </label>
        <p>
            Don't just record code coverage. <br>
            Take complete control over your coverage reports and badges.
        </p>
      </div>
      <div class="flex items-center justify-between pt-4">
        <a
          class="bg-gradient-to-t from-green-500 to-green-500 hover:from-green-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
          type="button"
          href="https://github.com/kevincobain2000/action-coveritup"
        >
          Github
        </a>
      </div>
      <div class="flex items-center justify-between pt-4">
        <p class="font-bold">Find us on Product Hunt!</p>
        <a
          href="https://www.producthunt.com/posts/coveritup?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-coveritup"
          target="_blank"
          ><img
            src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=433114&theme=dark"
            alt="CoverItUp - All&#0032;in&#0032;one&#0032;code&#0032;coverage&#0032;and&#0032;badges&#0032;tool&#0046; | Product Hunt"
            style="width: 250px; height: 54px;"
            width="250"
            height="54"
          /></a
        >
      </div>
    </div>
  </div>

  <div class="mt-5 mb-5">
    <img
      class="mx-auto w-4/5 transform -rotate-6 transition hover:scale-105 duration-700 ease-in-out hover:rotate-6"
      src="https://instachart.coveritup.app/bar?title=example/framework&theme=dark&theme=light&metric=sec&width=750&height=512&data={%22x%22:[%22main%22,%22master%22,%22master%22,%22master%22,%22develop%22,%22develop%22,%22develop%22,%22release%22,%22release%22,%22release%22,%22release%22,%22release%22,%22v1%22,%22v1%22,%22v1%22,%22v1%22,%22hotfix%22,%22hotfix%22,%22hotfix%22,%22feature/banner%22],%22y%22:[[19,19,72,66,80,86,148,145,152,126,107,150,133,106,204,105,106,103,18,104]],%22z%22:[[20,20,73,67,81,87,149,146,153,127,108,151,134,107,205,106,107,104,19,105]],%20%22names%22:[%22build-time%22]}"
    />
  </div>
  <style></style>
</div>
