---
import sun from "@assets/sun.svg?raw";
---

<div class="mx-auto md:pt-16">
  <p class="text-violet-400 font-bold pb-6 lg:pb-6 text-center text-3xl">
    Multiple Themes
  </p>
  <p class="text-center">
    Choose from multiple themes to suit your needs to embed metrics charts in README
  </p>

  <p class="text-center font-bold pt-5 pb-5 text-white">Light</p>
  <div class="flex w-full items-center justify-center md:justify-center lg:pb-0 fade-in">
    <img
      src="https://instachart.coveritup.app/line?title=example/framework&line=fill&metric=%25&width=690&height=390&data={%20%22x%22:%20[%222023%20Jan%22,%222024%20Feb%22,%222024%20March%22],%20%22y%22:%20[[4,8,7]],%20%22names%22:%20[%22Code%20Coverage%22]%20}&theme=light"
      class="transform hover:scale-110 duration-300 ease-in-out"
    />
  </div>
  <p class="text-center font-bold pt-10 pb-5 text-gray-400">Dark</p>
  <p class="flex justify-center pb-10">
    <Fragment set:html={sun} />
  </p>
  <div class="flex w-full justify-center md:justify-center lg:pb-0 fade-in">
    <img
      src="https://instachart.coveritup.app/line?title=example/framework&metric=%25&line=fill&theme=dark&width=690&height=390&data={%20%22x%22:%20[%222023%20Jan%22,%222024%20Feb%22,%222024%20March%22],%20%22y%22:%20[[4,8,7]],%20%22names%22:%20[%22Code%20Coverage%22]%20}&theme=light"
      class="transform hover:scale-110 duration-300 ease-in-out"
    />
  </div>
</div>
<style></style>
