---

---

<div class="mx-auto md:pt-16">
  <p class="text-violet-400 font-bold pb-6 lg:pb-6 text-center text-3xl">
    <br />Github <br />
    & <br />
    Github Enterprise
  </p>
  <p class="text-center font-mono text-lg">Instant feedback on your code changes.</p>

  <p class="text-center pt-5 pb-5 text-white">
    Supports all languages and frameworks
  </p>
  <p class="text-center font-bold pt-5 pb-5 text-white">
    <a
    class="text-blue-400 hover:text-blue-600"
      type="button"
      href="https://medium.com/web-developer/you-are-using-lint-wrong-c0ccfe58e628"
    >
      Medium: How to use lint the right way
    </a>
    <br>
    <a
      class="text-blue-400 hover:text-blue-600 mt-3"
      type="button"
      href="https://medium.com/@kevincobain2000-x/revolutionizing-code-tracking-for-developers-e8b7b42a5204"
    >
      Medium: Revolutionizing code tracking for developers
    </a>

  </p>
</div>
<style></style>
