---

---

<div class="mx-auto md:pt-16">
  <p class="text-violet-400 font-bold pb-6 lg:pb-6 text-center text-3xl">
    <br />Github <br />
    & <br />
    Github Enterprise
  </p>
  <p class="text-center">Instant feedback on your code changes.</p>

  <p class="text-center font-bold pt-5 pb-5 text-white">
    Supports all languages and frameworks
  </p>
  <p class="text-center font-bold pt-5 pb-5 text-white">
    <a
      class="bg-gradient-to-t from-blue-500 to-blue-500 hover:from-blue-500 hover:to-blue-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out"
      type="button"
      href="https://medium.com/@kevincobain2000-x/revolutionizing-code-tracking-for-developers-e8b7b42a5204"
    >
      Read it on Medium
    </a>
  </p>
</div>
<style></style>
